@media (max-width: 750px) {
  .kontakt-uppgifter {
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: #f8f9f3;
    z-index: 3;
    -webkit-box-shadow: 3px 5px 12px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 5px 12px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 5px 12px -2px rgba(0, 0, 0, 0.6);
    font-size: 5vmin;
  }
  .kontakt-uppgifter-content {
    padding: 5vw;
  }

  .kontakt-li-marker {
    width: 7vw;
    display: inline-block;
    padding-bottom: 0.5vw;
  }
  .kontakt-li-item {
    width: 62vw;
    display: inline-block;
    padding-bottom: 0.5vmin;
  }
  .uppgift {
    padding-bottom: 1.5vmin;
  }
}

@media (min-width: 750px) and (max-width: 1500px) {
  .kontakt-uppgifter {
    width: 70vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: #f8f9f3;
    z-index: 3;
    -webkit-box-shadow: 3px 5px 12px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 5px 12px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 5px 12px -2px rgba(0, 0, 0, 0.6);
    font-size: 4.5vmin;
  }
  .kontakt-uppgifter-content {
    padding: 5vw;
  }

  .kontakt-li-marker {
    width: 5vw;
    display: inline-block;
    padding-bottom: 0.5vw;
  }
  .kontakt-li-item {
    width: 55vw;
    display: inline-block;
    padding-bottom: 0.5vm;
  }
  .uppgift {
    padding-bottom: 1.5vw;
  }
}

@media (min-width: 1500px) {
  .kontakt-uppgifter {
    width: 40vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: #f8f9f3;
    z-index: 3;
    -webkit-box-shadow: 3px 5px 12px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 5px 12px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 5px 12px -2px rgba(0, 0, 0, 0.6);
    font-size: 2.4vw;
  }
  .kontakt-uppgifter-content {
    padding: 5vw;
  }

  .kontakt-li-marker {
    width: 5vw;
    display: inline-block;
    padding-bottom: 0.5vw;
  }
  .kontakt-li-item {
    width: 25vw;
    display: inline-block;
    padding-bottom: 0.5vw;
  }
  .uppgift {
    padding-bottom: 1.5vw;
  }
}
