<div class="kontakt-uppgifter" *ngIf="visa">
  <div class="kontakt-uppgifter-content">
    <div class="uppgift">
      <div class="kontakt-li-marker"><i class="fa fa-tag" aria-hidden="true"></i></div><div class="kontakt-li-item">Joachim Åberg</div>
    </div>
    <div class="uppgift">
      <div class="kontakt-li-marker"><i class="fa fa-industry" aria-hidden="true"></i></div><div class="kontakt-li-item"><a target="_blank" href="https://www.infoware.eu/">Infoware</a></div>
    </div>
    <div class="uppgift">
      <div class="kontakt-li-marker"><i class="fa fa-envelope" aria-hidden="true"></i></div><div class="kontakt-li-item"><a href="mailto:joachimaberg@gmail.com">joachimaberg@gmail.com</a></div>
      <div class="kontakt-li-marker">&nbsp;</div><div class="kontakt-li-item"><a href="mailto:joachim.aberg@infoware.se">joachim.aberg@infoware.se</a></div>
    </div>
    <div class="uppgift">
      <div class="kontakt-li-marker"><i class="fa fa-facebook-official" aria-hidden="true"></i></div><div class="kontakt-li-item"><a target="_blank" href="https://www.facebook.com/joachim.aberg">joachim.aberg</a></div>
    </div>
    <div class="uppgift">
      <div class="kontakt-li-marker"><i class="fa fa-instagram" aria-hidden="true"></i></div><div class="kontakt-li-item"><a target="_blank" href="https://www.instagram.com/joachimaberg/">joachimaberg</a></div>
    </div>
    <div class="uppgift">
      <div class="kontakt-li-marker"><i class="fa fa-linkedin-square" aria-hidden="true"></i></div><div class="kontakt-li-item"><a target="_blank" href="https://www.linkedin.com/in/joachim-%C3%A5berg-2b19aa42/">joachim-åberg-2b19aa42</a></div>
    </div>
    <div class="uppgift">
      <div class="kontakt-li-marker"><i class="fa fa-github-square" aria-hidden="true"></i></div><div class="kontakt-li-item"><a target="_blank" href="https://github.com/JoachimAberg/">joachimaberg</a></div>
    </div>
  </div>
</div>
