.social-media-link{
  position: absolute;
  top: 50vh;
  left:25vw;
}

.social-media-lank{
  display: inline-block;
  font-size: 5vh;
}

.fa-wrapper{
  display: inline-block;
  margin-right: 1vw;

  i{
    font-size: 7vh;
  }
}
