<div class="business-card">
  <div class = "number"></div>
  <div class = "company">
    <div class = "company-name"></div>
    <div class ="company-description"></div>
  </div>
  <div class = "employee">
    <div class = "employee">Joachim Åberg</div>
    <div class = "employee-position"></div>
  </div>
  <div class = "contact">
    <i class="fa fa-lg fa-facebook-official" aria-hidden="true"></i>
    <i class="fa fa-lg fa-instagram" aria-hidden="true"></i>
    <i class="fa fa-lg fa-linkedin-square" aria-hidden="true"></i>
  </div>
</div>
