<md-card class="visit-kort">
  <md-card-header>
    <div md-card-avatar class="visit-kort-avatar"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Hund</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/images/shiba.jpg" alt="Photo of a Shiba Inu">
  <md-card-content>
    <p>
      Vovve
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>Gör nåt</button>
    <button md-button>Gör nåt annat</button>
  </md-card-actions>
</md-card>
