.business-card {
  display: block;
  width: 400px;
  height: 220px;
  margin: 300px auto;
  padding: 15px;
  -webkit-box-shadow: 3px 5px 12px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 5px 12px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 5px 12px -2px rgba(0, 0, 0, 0.6);
  background-image:url('../../../assets/images/kort-pattern.jpg');
-ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5), 0px -1px 1px rgba(0, 0, 0, .3);
}

.business-card.scale {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  box-shadow: 1px 3px 5px -2px rgba(0, 0, 0, 0.6);
}


.number {
  display: block;
  float: left;
  font-size: 15px;
}

.company {
  display: block;
  float: right;
  text-align: center;

}

.company-name {
  display: block;
}

.company-desc {
  display: block;
  font-size: 12px;
}

.employee {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 90px;
  font-size: 35px;
}

.employee-name {
  display: block;
}

.employee-position {
  display: block
}

;

.contact {
  text-align: left;
  display: block;
  margin-top: 68px;
}
